---
const base = import.meta.env.BASE_URL;
const items = [
  {
    img: `${base}/img/escudo2.png`,
    title: "Avoid alcoholic beverages",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quo, voluptas sunt doloribus accusamus officiis est dolores aliquam inventore optio harum quibusdam quaerat rem eum, ea laudantium culpa commodi ducimus.",
  },
  {
    img: `${base}/img/cerrar.png`,
    title: "Avoid strees",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quo, voluptas sunt doloribus accusamus officiis est dolores aliquam inventore optio harum quibusdam quaerat rem eum, ea laudantium culpa commodi ducimus.",
  },
  {
    img: `${base}/img/barras.png`,
    title: "Eat healthy food",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quo, voluptas sunt doloribus accusamus officiis est dolores aliquam inventore optio harum quibusdam quaerat rem eum, ea laudantium culpa commodi ducimus.",
  },
  {
    img: `${base}/img/aceptar.png`,
    title: "Got enough sleep",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quo, voluptas sunt doloribus accusamus officiis est dolores aliquam inventore optio harum quibusdam quaerat rem eum, ea laudantium culpa commodi ducimus.",
  },
  {
    img: `${base}/img/corazon.png`,
    title: "Excersize or physical activity",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quo, voluptas sunt doloribus accusamus officiis est dolores aliquam inventore optio harum quibusdam quaerat rem eum, ea laudantium culpa commodi ducimus.",
  },
];
---

<section class="w-full">
  <div class="flex flex-col md:flex-row w-full">
    <div class="flex-1 p-6 md:p-12">
      <img
        src={`${base}/img/img1.jpg`}
        alt="Enfermera"
        class="w-11/12 h-[600px] object-cover rounded-md mx-auto md:mx-0"
      />
    </div>
    <div class="flex-1 p-6 md:p-12">
      <h2
        class="text-[#112778] font-extrabold text-2xl md:text-3xl leading-snug tracking-wide mb-4"
      >
        Preparation Before Vaccine
      </h2>
      <p class="text-gray-700 font-semibold leading-relaxed mb-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        dolor incidunt quisquam illo libero, voluptatum accusamus. Qui,
        reiciendis nulla odio itaque in amet nemo magnam, incidunt facilis atque
        assumenda maiores.
      </p>
      <div class="flex flex-col gap-6">
        {
          items.map((item) => (
            <details class="bg-transparent rounded-md">
              <summary class="flex items-center gap-2 cursor-pointer selection-none list-none">
                <img src={item.img} alt={item.title} class="w-6 rounded-md" />
                <span class="text-[#112778] font-bold tracking-wide">
                  {item.title}
                </span>
              </summary>
              <p class="text-gray-700 text-xs font-bold leading-snug mt-2 p-3">
                {item.description}
              </p>
            </details>
          ))
        }
      </div>
    </div>
  </div>
</section>
<style>
  details[open] summary::after {
    content: "▲";
  }

  summary::after {
    content: "▼";
    border-radius: 5px;
    margin-left: auto;
    color: #223ca6;
    padding: 2px 5px;
  }

  summary::-webkit-details-marker {
    display: none;
  }
</style>
